@font-face {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NeueMontreal-Regular.woff2) format("woff2");
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Hatton-Light.woff2) format("woff2");
}
