.stage-intro {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__wordmark {
    position: absolute;
    width: 60vw;
    top: 50%;
    transform: translateY(-50%);
    &--mobile {
      @include breakpoint(s) {
        display: none;
      }
    }
    &--dekstop {
      width: 70vw;
      display: none;
      @include breakpoint(s) {
        display: inline;
      }
    }
  }
  &__background {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 40%;
  }
  &__content {
    @include spacing;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 4.5vh;
    z-index: 1;
  }
  &--background-color {
    position: absolute;
    background-color: black;
  }
}
